@import "../../styles/main.scss";

.category-tag-wrapper {
  display: inline-block;
  border-radius: 5px;
  background-color: $btn-color-primary;
  color: $text-color;
  font-size: 0.875rem;
  margin: 0.5rem 0;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-items: center;

  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width: $screen-lg) {
    font-size: 1rem;
  }
}
