@mixin positionCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$breakpoints: (
  lg: 1024px,
  md: 768px,
  sm: 576px,
);

@mixin getBlogCardColumn() {
  @media screen and (min-width: $screen-md) {
    $blog-card-columns: $blog-card-columns-md;
  }

  @media screen and (min-width: $screen-lg) {
    $blog-card-columns: $blog-card-columns-lg;
  }
}

@mixin getPageContainerWidth() {
  width: 100%;

  @media screen and (min-width: $screen-lg) {
    width: 80%;
  }

  @media screen and (min-width: $screen-xl) {
    width: 100ch;
  }

  @media screen and (min-width: $screen-2xl) {
    width: 90ch;
  }
}
