$primary-color: "#FFF";

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg-md: 900px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

$blog-cards: 15;

$blog-card-columns-lg: 3;
$blog-card-columns-md: 2;
$blog-card-columns-sm: 1;

$BANNER_SECTION_HEIGHT: 30vmin;
