.sidebar-aside {
  display: flex;
  position: absolute;
  left: 100%;
  z-index: 50;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.nav-menu-list {
  list-style: none;
  width: 100%;
  padding: 1rem;
}

.nav-menu {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin: 2rem 0;
}
