@import "../../styles/main.scss";

.highlighted-blog-section {
  margin-top: $BANNER_SECTION_HEIGHT;
}

.highlighted-blogs-title {
  font-size: 2rem;
}

.featured-blogs-container {
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &[data-should-bounce="true"] {
    & > ul {
      animation-name: bouncingHighlightedBlogs;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
  }
}

.featured-blogs-list {
  padding: 0;
  display: flex;
  width: 100vw;
  transition: all 1000ms cubic-bezier(0.79, 1.535, 0.305, -0.475); /* custom */
}

.featured-blog-card {
  list-style: none;
  padding: 0;
  width: 100%;
  padding: 5px;

  margin: 0 10px;

  &:first-child {
    margin-right: 10px;
    margin-left: 0;
  }

  &:last-child {
    margin-left: 10px;
    margin-right: 0;
  }
}
