@import "../../../styles/main.scss";

.page-container {
  width: 100%;
  display: flex;

  @media screen and (min-width: $screen-md) {
    display: block;
  }
}

.main-container {
  width: 100%;
}

.blog-container {
  padding: 0 1rem;
  width: auto;
  min-height: 100vh;
  margin: 0 auto;

  @media screen and (min-width: $screen-lg) {
    width: calc(calc(4 / 5) * 100%);
  }

  @media screen and (min-width: $screen-xl) {
    width: 75%;
  }

  @media screen and (min-width: $screen-2xl) {
    width: 60%;
  }
}

.sidebar {
  width: fit-content;
  height: 100vh;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-items: flex-end;
  transition: all 700ms ease-in-out;
  z-index: 50;
  right: -75%;

  &[showSideBar] {
    right: 0;
  }

  @media screen and (min-width: $screen-lg-md) {
    visibility: hidden;
  }
}
