@import "../../styles/main.scss";

$SLIDE_IN_DURATION: 0.5s;

.sidebar-aside {
  display: flex;
  position: fixed;
  z-index: 999;
  background-color: var(--background-color-header);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  padding: 1rem;
  top: 0;
  bottom: 0;
  transition: $SLIDE_IN_DURATION cubic-bezier(0.55, 0.06, 0.68, 0.19);
  transform: translateX(100%);
  backdrop-filter: blur(10px);

  @media screen and (min-width: $screen-md) {
    display: none;
  }

  &[data-slide-in="true"] {
    transform: translateX(0);
    animation: asideToBlur 1.5s forwards;
    animation-delay: calc($SLIDE_IN_DURATION + 0.1s);
  }
}

.nav-menu-list {
  list-style: none;
  width: 100%;
  padding: 1rem;
}

.nav-menu {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin: 2rem 0;

  & > a > span {
    color: var(--nav-link-text-color);
  }
}

.back-btn {
  all: unset;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35px;
  right: 35px;
}
