@import "../../styles/main.scss";

.header-base {
  position: sticky;
  left: 0;
  display: flex;
  padding: 1rem;
  background-color: $background-color-secondary;
  z-index: 99999999999999999999999;
  transition: all 100ms;
}

.header-row {
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $screen-md) {
    justify-content: space-between;
  }
}

.header-col {
  flex-direction: column;
  align-items: center;
}

.logo-container {
  &:hover {
    cursor: pointer;
  }

  & > span:first-child {
    font-size: 3rem;
  }

  transform: scale(0.75);
}

.nav-menus-container {
  display: none;

  @media screen and (min-width: $screen-lg-md) {
    display: block;
  }
}

.nav-menu-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 1rem;

  a {
    color: $link-text-color;
  }
}

.nav-menu {
  margin-top: 0.25rem;
  width: calc((5 / 6) * 100%);
  transition: all 1s ease;
  border-radius: 5px;
  padding: 0.5re;

  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width: $screen-md) {
    margin: 0 0.5rem;
    width: auto;
  }

  span {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;

    @media screen and (min-width: $screen-md) {
      font-size: 1rem;
    }
  }
}
