@import "../../styles/main.scss";

.featured-blog-card-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: $card-color;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  width: inherit;
  overflow: hidden;
  min-width: 100%;
  box-sizing: border-box;

  @media screen and (min-width: $screen-md) {
    flex-direction: row;
  }
}

.article-image {
  border-radius: 0.25rem;
  position: relative;
  aspect-ratio: 2/1;
  width: 100%;

  & img {
    border-radius: 0.25rem;
  }

  @media screen and (min-width: $screen-md) {
    width: auto;
    margin-right: 1rem;
    flex: 1;
    aspect-ratio: 1.5/1.75;
    height: 100%;
  }
}

.blog-content {
  display: flex;
  flex-direction: column;
  margin: 10px;

  @media screen and (min-width: $screen-md) {
    flex: 3;
    justify-content: space-evenly;
    height: 100%;
  }
}

.featured-blog-text {
  font-weight: 500;
  margin-top: 0.5rem;
}

.date-posted {
  font-size: 0.875rem;
}

.blog-excerpt {
  text-align: justify;
  font-size: 0.875rem;
  overflow: auto;

  @media screen and (min-width: $screen-lg) {
    font-size: 1rem;
  }
}

.read-more-btn {
  border-radius: 10px;
  background-color: $btn-color-primary;
  color: $text-color;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border: none;
  width: fit-content;
}

.read-more {
  font-weight: 500;
  color: $text-color;
}
