.video-blur {
  /* content: "";
  position: absolute;
  inset: 0; */
  /* background-color: rgba(0, 0, 0, 0.15); */
  animation: pulse 2.5s infinite ease;
}

@keyframes pulse {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.5);
  }

  10% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
