@import "../../styles/main.scss";

.featured-blog-card {
  width: 100%;
  margin: 2rem auto;

  @media screen and (min-width: $screen-lg) {
    width: 75%;
  }
}

.cards-wrapper {
  width: 100%;
  overflow: hidden;

  & > div:first-child {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
  }
}

.buttons-wrapper {
  display: flex;
  justify-items: center;
  margin: 0 auto;
  gap: 2rem;
  width: 50%;
}

.button-pagination {
  border-radius: 100%;
  background-color: $background-color-grey;
  width: 2rem;
  aspect-ratio: 1;
  justify-items: center;
  align-items: center;
  border: none;

  &[selected] {
    background-color: $background-color;
  }
}
