@import "../../styles/main.scss";

.featured-blog-card {
  width: 100%;
  margin: 2rem auto;

  @media screen and (min-width: $screen-xl) {
    width: 75%;
  }
}

.cards-wrapper {
  width: 100%;
  overflow: hidden;

  & > div:first-child {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  & > div {
    transition: all 1s ease-in-out;
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 2rem;
  width: 50%;
}

.button-pagination {
  border-radius: 100%;
  width: 2rem;
  aspect-ratio: 1;
  justify-items: center;
  align-items: center;
  background-color: $background-color-grey;
  border: none;
  cursor: pointer;

  &[class*="selected"] {
    background-color: $background-color;
    color: $text-color;
  }
}
