@keyframes mainAnimationKeyframes {
  0%,
  10% {
    max-width: 0;
  }
  50% {
    max-width: 999px;
  }
  75%,
  100% {
    max-width: 0;
  }
}

@keyframes italicAnimationKeyframes {
  0%,
  25% {
    max-width: 0;
  }
  70% {
    max-width: 999px;
  }
  100% {
    max-width: 0;
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(0, 0, 0, 0.1);
  }

  50% {
    background-color: rgba(0, 0, 0, 0.5);
  }

  10% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

$steps: 100;

@keyframes rotatingBorderButton {
  @for $i from 0 through $steps {
    #{percentage($i / $steps)} {
      border-image: linear-gradient($i * 360deg / $steps, #0d4a90, #e85f5f)
        1
        stretch
        round;
    }
  }
}
