@mixin positionCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$breakpoints: (
  lg: 1024px,
  md: 768px,
  sm: 576px,
);

@mixin getBlogCardColumn() {
  @media screen and (min-width: $screen-md) {
    $blog-card-columns: $blog-card-columns-md;
  }

  @media screen and (min-width: $screen-lg) {
    $blog-card-columns: $blog-card-columns-lg;
  }
}

// @mixin hideOtherBlogCard() {
//   @for $i from 1 through $blog-cards {
//     &:nth-child(#{$i - 2}n):has(&:nth-child(#{$i}n):hover) {
//       display: none;
//     }

//     &:nth-child(#{$i - 1}n):has(&:nth-child(#{$i}n):hover) {
//       display: none;
//     }
//   }
// }
