$primary-color: "#FFF";

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg-md: 790px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

$text-color: rgb(240, 240, 240);
$text-secondary-color: rgb(124, 124, 124);

$secondary-color: rgb(36, 36, 36);

$background-color: rgb(80, 80, 80);
$background-color-grey: rgb(182, 182, 182);

$card-color: rgb(200, 200, 200);

$btn-color-primary: rgb(36, 36, 36);
