@import "../../styles/main.scss";

.article-post-wrapper {
  width: 100%;
  margin-top: 1rem;
  pointer-events: none;
  user-select: none;
}

.published-on-text {
  font-size: 0.875rem;
  text-align: center;
  color: $text-secondary-color;
}

.article-title {
  text-align: center;
}

.category-box {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.article-thumbnail {
  width: auto;
  height: 30vh;
  margin: 1rem;
  position: relative;
  border-radius: 0.5rem;

  & img {
    border-radius: 0.5rem;
  }

  @media screen and (min-width: $screen-md) {
    height: 75vmin;
  }
}

.article-body {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  margin-bottom: 2rem;

  @media screen and (min-width: $screen-md) {
    margin-bottom: 0.5rem;
  }
}

.article-post {
  & > p,
  blockquote,
  li,
  span,
  em,
  strong {
    font-size: 1rem;
  }

  & > h1,
  h2 {
    font-size: 1.25rem;
    @media screen and (min-width: $screen-md) {
      font-size: 2rem;
    }

    & em,
    strong {
      font-size: inherit;
    }
  }

  & > p,
  li {
    text-align: justify;
    line-height: 1.5rem;
  }

  & > blockquote {
    margin: 2.5rem auto;
    width: 75%;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    background-color: $card-color;
    position: relative;
    font-size: 1rem;

    & > strong {
      font-weight: 500;
    }

    @media screen and (min-width: $screen-lg) {
      width: 50%;
    }

    &:before,
    &:after {
      position: absolute;
      font-style: initial;
    }

    &:before {
      content: url("../../assets/svg/quote-right.svg");
      top: -15px;
      left: -15px;
    }

    &:after {
      content: url("../../assets/svg/quote-left.svg");
      bottom: -20px;
      right: -15px;
    }
  }

  & img {
    width: 90%;
    margin: auto;
    display: block;
    border-radius: 10px;

    @media screen and (min-width: $screen-md) {
      width: 75%;
    }
  }
}
