@import "../../styles/main.scss";

.toast-list-wrapper {
  width: 25%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  padding: 10px;
  pointer-events: none;
  z-index: 999;
}
