@import "../BlogsPage/styles.module.scss";

.category-title {
  margin: 5rem 0;
  text-align: center;
  font-size: 2rem;

  &::first-letter {
    text-transform: capitalize;
  }

  @media screen and (min-width: $screen-lg-md) {
    font-size: 3rem;
  }
}

.no-blog-text {
  font-size: 1.5rem;
  padding-top: 3rem;

  @media screen and (min-width: $screen-lg-md) {
    font-size: 2rem;
  }
}

.blog-card-wrapper {
  min-height: 50vh;
}

